/* p {
  display: inline;

} */
div{
  display: inline;

}
.text {
  display: block !important;
  height: 25px;
  width: 80%;
}

.form-group{
  display: block !important;
  width: 50%;
  /* padding: 5px; */
  margin-bottom: 0rem !important;
}
.btn-group-sm>.btn, .btn-sm{
  padding: 3px 2px !important;
  font-size: 0.875rem !important;
  line-height: 0.5 !important;
  border-radius: 20px !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
  background-color: #d7dbe3 !important;
  width: 100% !important;
}

.form-text {
  display: -webkit-inline-box !important;
}

body{
  background-color: #6F84B6 !important;
  font-family: 'Roboto', sans-serif;
}

/* h1 {
  text-align: center;
} */
h1 {
  /* text-align: center; */
  padding-left: 20px;
  padding-top: 50px;
}

h2 {
  /* padding-left: 40px; */
}

h3 {
  padding-left: 60px;
}

h4 {
  padding-left: 80px;
}
h5 {
  padding-left: 100px;
}

h6 {
  padding-left: 120px;
}


#circle {
  width: 100px;
  height: 100px
}
