/* p {
  display: inline;

} */
div{
  display: inline;

}

.form-group{
  display: block !important;
}
/* .btn-group-sm>.btn, .btn-sm{
  border-radius: 5px !important;
  width: 20px !important;
  height: 20px !important;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
  background-color: #d7dbe3 !important;
  width: 96% !important;
}

.form-text {
  display: -webkit-inline-box !important;
}

body{
  background-color: #6F84B6 !important;
  font-family: 'Roboto', sans-serif;
}

/* h1 {
  text-align: center;
} */
h1 {
  /* text-align: center; */
  padding-left: 20px;
  padding-top: 50px;
}

h2 {
  padding-left: 40px;
}

h3 {
  padding-left: 60px;
}

h4 {
  padding-left: 80px;
}
h5 {
  padding-left: 100px;
}

h6 {
  padding-left: 120px;
}


#circle {
  width: 100px;
  height: 100px
}
